 <link rel="stylesheet" href="stylesheets/app-form.css">
<form>
    <h1>Leasing Application Form</h1>
    <!--
        The Idea of having a title included in the application form is kind of a problem
        because there is a ton of titles out there that we could account for.
  <select>
      <option>Mr</option>
      <option>Mrs</option>
  </select>-->
  <input placeholder="First Name (In Full)" type="text" required>
  <input  placeholder="Surname" type="text" required>
  <input placeholder="South African ID or Passport Number" type="text" required>
  <input placeholder="Nationality" type="text" required>
  <button>Continue</button>
</form>