<link rel="stylesheet" href="/stylesheets/login.css">
<div class="body"></div>
<div class="grad"></div>
<div style="margin-left:10px" class="header">
	<div>The Yards — <span>81 Rissik Street</span></div>
	<h3>Be Bold - Be Happy - Be Free</h3>
</div>
<br>

<form class="login" action="/" method="POST">
	<input type="email" placeholder="username" name="user"><br>
	<input type="password" placeholder="password" name="password"><br>
	<input type="submit" value="Login">
</form>
