<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Yards CMS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
</head>
<body>
  {{{body}}}
<script src="javascripts/prefixfree.min.js"></script>
</body>
</html>